
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;Poppins:wght@600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/bbf17e4234.js" crossorigin="anonymous"></script>
  
  
  <title>Wallet</title>
</head>
<body>
<div class="container">
    
    <div class="content">
      
      {% block content %} {% endblock %}
      
    </div>
</div>
</body>
</html>