<nav class="topnav">
  <a href="{{ url_for('main_bp.index') }}" {% if request.path==url_for('main_bp.index') %}  class="active"{% endif %} style="margin-right: 405px;font-size: 25px;">Carrot <i class="fa-solid fa-carrot"></i></a>
    <a href="{{ url_for('main_bp.createe') }}" {% if request.path==url_for('main_bp.createe') %} class="active" {% endif %}><i class="fa-solid fa-plus"></i> Create</a>
    <a href="{{ url_for('main_bp.index') }}" {% if request.path==url_for('main_bp.index') %} class="active"{% endif %}><i class="fa-solid fa-wallet"></i> Balance</a>
    <a href="{{ url_for('main_bp.assets') }}" {% if request.path==url_for('main_bp.assets') %} class="active"{% endif %} {% if request.path==url_for('main_bp.create') %} class="active" {% endif %}><i class="fa-solid fa-landmark"></i> Assets</a>
    {% if current_user.is_authenticated %}
    <a  class='logout' href="{{ url_for('main_bp.logout') }}">Logout </a>
    {% endif %}
</nav>
